<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Organizer</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
</head>
<body>
<main class="container">

    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url 'quoteapp:tag' %}" role="button">Add Tag</a></li>
            <li><a href="{% url 'quoteapp:quote' %}" role="button">Add Quote</a></li>
        </ul>
        <ul>
            <li>Welcome <b>{{ user.username }}!</b></li>
            <li><a href="{% url 'users:logout' %}" role="button">Logout</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="{% url 'users:signup' %}" role="button">Sign Up</a></li>
            <li><a href="{% url 'users:login' %}" role="button">Login</a></li>
        </ul>
        {% endif %}
    </nav>
    
    <ul>
        {% for q in quote %}
        <li>
            <p><strong>Author:</strong> {{ q.author }}</p>
            <p><strong>Quote:</strong> {{ q.description }}</p>
            <p><strong>Tags:</strong>
                {% for tag in q.tags.all %}
                    {{ tag.tag }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <a href="{% url 'quoteapp:detail' q.id %}" role="button" class="outline"> {{ q.author }} </a>
            {% if user.is_authenticated %}
            <a href="{% url 'quoteapp:delete' q.id %}" role="button" class="contrast"> Delete quote </a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</main>
</body>
</html>
